* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    --text-color: #2E4053;
    --bg-color: #fff;
    --main-color: #2E4053;
    --active-text: #fff;
    --icon-bg-color: #fff;
}

.dark-mode {
    --text-color: #fff;
    --bg-color: #2E4053;
    --main-color: #fff;
    --active-text: #2E4053;
    --icon-bg-color: #2E4053;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: transparent;
}

.logo {
    font-size: 25px;
    color: var(--main-color);
    text-decoration: none;
    cursor: default;
    margin-right: auto;
    font-weight: 600;
}

.navbar a {
    font-size: 16px;
    margin-right: 35px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
}

.navbar a.active {
    border-radius: 5px;
    background-color: var(--main-color);
    padding: 10px;
    color: var(--active-text);
}

.toggle {
    display: flex;
    margin-top: 1px;
    cursor: pointer;
}

.toggle i {
    font-size: 20px;
    color: #808080;
}

.toggle .fa-sun {
    font-size: 20px;
    color: #F1C40F;
}

section[id] {
    scroll-margin-top: 70px;
}

.home,
.about,
.skills,
.portfolio,
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 5% 0;
    overflow-y: scroll;
}


/* Seccion home */

.home .home-content-left {
    max-width: 60%;
}

.home-content-left h3 {
    font-size: 1.3em;
    font-weight: 100;
}

.home-content-left h1 {
    font-size: 3.5em;
    font-weight: 500;
}

.home-content-left a {
    font-size: 16px;
}

.solcial-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    text-decoration: none;
    border-radius: 50%;
    color: var(--main-color);
    font-size: 20px;
    margin: 25px 15px 30px 0;
    transition: .5s ease;
}

.solcial-media a:hover {
    background: var(--main-color);
    color: var(--icon-bg-color);
}

.download {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2, );
    letter-spacing: 1px;
    color: var(--main-color);
    transition: .5s ease;
    border: 2px solid var(--main-color);
    text-decoration: none;
}

.download:hover {
    background-color: var(--main-color);
    color: var(--icon-bg-color);
    border-color: transparent;
}

.home .home-content-right {
    max-width: 40%;
    margin: auto;
}

.home-content-right img {
    height: 400px;
}

/* Seccion about */

.about .about-content-left {
    max-width: 40%;
}

.about-content-left img {
    height: 400px;
}

.about .about-content-right {
    max-width: 60%;
    padding: 15px;
}

.about-content-right h1 {
    font-size: 40px;
}

.about-content-right span{
    font-weight: 500;
}

.about-content-right .box-content h3 {
    font-size: 20px;
    font-weight: 400;
}

.about-content-right .box-content i {
    font-size: 15px;
}

.about-content-right h3 {
    font-size: 30px;
    font-weight: 100;
}

.about-content-right p {
    text-align: justify;
    margin-top: 10px;
}

.skills {
    display: inline-block;
}

.skills>h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.skills .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.container .container-box {
    background-color: var(--main-color);
    color: var(--active-text);
    padding: 25px;
    border-radius: 10px;
}

.container .container-box h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px
}

.container .container-box .skill-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px 40px;
}

.container .container-box .skill-box .skill {
    display: flex;
}

.container .container-box .skill-box .skill i {
    font-size: 12px;
    margin: 6px 5px 0 0;
}

.portfolio .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.portfolio .container .proyect-box{
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.portfolio .container .proyect-box img{
    width: 90%;
    border-radius: 10px;
}

.portfolio .container .proyect-box p{
    font-size: 18px;
    text-align: center;
    color: var(--active-text);
    margin: 20px;
}


.portfolio .container .proyect-box .botones{
    display: flex;
    justify-content: center;
 }

.portfolio .container .proyect-box .botones a{
    text-decoration: none;
    padding: 5px 10px;
    background: var(--active-text);
    border-radius: 5px;
    color: var(--text-color);
    margin: 0 20px;
}

.portfolio .container .proyect-box .botones a:hover{
  transform: scale(1.2);
  transition: .5s ease;
}
